.container{
    display: flex;
    justify-content: center;
}

.emailAlertInvis{
    display:none;
}

.alertShow{
    display: true;
}


.alertInvis{
    display: none;
}

.alert{
    color: #db2828;
    max-width: 150px;
}

.success{
    color: green;
}